name: Simple Docker build ci
on:
  pull_request:
    branches:
      - main

jobs:
  ci:
    strategy:
      fail-fast: true
      matrix:
        python-version: ["3.11", "3.12", "3.13"]
        variant: ["bookworm", "bookworm-slim", "trixie", "trixie-slim"]
        exclude:
          - python-version: "3.11"
            variant: "trixie"
          - python-version: "3.11"
            variant: "trixie-slim"
          - python-version: "3.12"
            variant: "trixie"
          - python-version: "3.12"
            variant: "trixie-slim"
          - python-version: "3.13"
            variant: "bookworm"
          - python-version: "3.13"
            variant: "bookworm-slim"
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ${{ matrix.python-version }}/${{ matrix.variant }}/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: false
          build-args: IMAGE_VERSION=ci
          tags: aliciousness/python-base:${{ matrix.python-version }}-${{ matrix.variant }}
